In [1]:
import datetime as dt

import numpy as np
import pandas as pd

pd.set_option('precision', 2)

In [2]:
def make_long_aapl():
    day_1 = dt.date(2015, 12, 29)
    day_2 = dt.date(2015, 12, 30)
    
    col_close = 'close'
    col_open = 'open'
    
    cols = ['date', 'ticker', 'variable', 'value']
    
    rv = pd.DataFrame([
      {'ticker': 'AAPL', 'date': day_1, 'variable': col_open,  'value': 106.96},
      {'ticker': 'AAPL', 'date': day_1, 'variable': col_close, 'value': 108.74},
      {'ticker': 'AAPL', 'date': day_2, 'variable': col_open,  'value': 108.58},
      {'ticker': 'AAPL', 'date': day_2, 'variable': col_close, 'value': 107.32}
    ], columns=cols)
    
    return rv

In [3]:
aapl_long = make_long_aapl()

In [4]:
aapl_long

         date ticker variable   value
0  2015-12-29   AAPL     open  106.96
1  2015-12-29   AAPL    close  108.74
2  2015-12-30   AAPL     open  108.58
3  2015-12-30   AAPL    close  107.32

### Long-to-Wide

In [5]:
aapl_long.pivot(index='date', columns='variable', values='value')

variable     close    open
date
2015-12-29  108.74  106.96
2015-12-30  107.32  108.58

### Long-to-Wide with multiple ID columns

In [6]:
aapl_wide = aapl_long.set_index(['ticker', 'date', 'variable']).unstack()
aapl_wide

                    value
variable            close    open
ticker date
AAPL   2015-12-29  108.74  106.96
       2015-12-30  107.32  108.58

In [8]:
aapl_long_idx = aapl_long.set_index(['ticker', 'date', 'variable'])

In [9]:
aapl_long_idx

                             value
ticker date       variable
AAPL   2015-12-29 open      106.96
                  close     108.74
       2015-12-30 open      108.58
                  close     107.32

In [10]:
aapl_long_idx.unstack('date')

                     value
date            2015-12-29 2015-12-30
ticker variable
AAPL   close        108.74     107.32
       open         106.96     108.58

In [13]:
aapl_long_idx.unstack('ticker')

                      value
ticker                 AAPL
date       variable
2015-12-29 close     108.74
           open      106.96
2015-12-30 close     107.32
           open      108.58

### Wide-to-Long

In [14]:
aapl_wide

                    value
variable            close    open
ticker date
AAPL   2015-12-29  108.74  106.96
       2015-12-30  107.32  108.58

In [16]:
aapl_wide.stack().reset_index()

  ticker       date variable   value
0   AAPL 2015-12-29    close  108.74
1   AAPL 2015-12-29     open  106.96
2   AAPL 2015-12-30    close  107.32
3   AAPL 2015-12-30     open  108.58