# How to return multiple columns from apply method

* [Return multiple columns from pandas apply()](https://stackoverflow.com/questions/23586510/return-multiple-columns-from-pandas-apply)

According to the article, ```zip(*df.apply(f, axis=1))``` is the fastest.

In [19]:
from typing import (
    Tuple,
    Any,
)
import pandas as pd

In [2]:
df = pd.DataFrame(
    {
        'species': [
            'bear', 'bear', 'marsupial'
        ],
        'population': [
            1864, 22000, 80000
        ]
    },
    index=['panda', 'polar', 'koala']
)
df

         species  population
panda       bear        1864
polar       bear       22000
koala  marsupial       80000

# Return columns as tuples

Only return values. Each column is a tuple

In [20]:
def f(row) -> Tuple[Tuple[Any]]:
    return row['species'], row['population'] / 10

In [21]:
tuple_species, tuple_populations = zip(*df.apply(f, axis=1))

# Return columns as dataframe

In [27]:
def g(row) -> pd.DataFrame:
    # Return a series where each row is data whose index is column name
    # Somehow pandas convert the pd.Series into pd.DataFrame
    return pd.Series(
        index = [
            'species',
            'population',
        ],
        data = [
            row['species'], 
            row['population'],
        ]
    )

In [25]:
result_df = df.apply(g, axis=1)
result_df

         species  population
panda       bear        1864
polar       bear       22000
koala  marsupial       80000

In [26]:
type(result_df)

pandas.core.frame.DataFrame