# groupby

In [3]:
import numpy as np
import pandas as pd

In [17]:
import pandas as pd
data = {
    'Minutes': ['18:30', '24:50', '33:21', '28:39', '27:30'],
    'Team': ['team1', 'team2', 'team1', 'team1', 'team2']
}

df = pd.DataFrame(data)
df['Minutes'] = pd.to_timedelta('00:' + df['Minutes'].replace('',np.NaN))
df

          Minutes   Team
0 0 days 00:18:30  team1
1 0 days 00:24:50  team2
2 0 days 00:33:21  team1
3 0 days 00:28:39  team1
4 0 days 00:27:30  team2

In [19]:
df.groupby('Team')['Minutes'].mean()

Team
team1   0 days 00:26:50
team2   0 days 00:26:10
Name: Minutes, dtype: timedelta64[ns]