In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({
    'ticker': ['AAPL', 'AAPL', 'MSFT', 'IBM', 'YHOO'],
    'date': ['2015-12-30', '2015-12-31', '2015-12-30', '2015-12-30', '2015-12-30'],
    'open': [426.23, 427.81, 42.3, 101.65, 35.53]
})

## Single Axis Selection - Columns

Uses `dict` style lookup, e.g. `df['col1']` or attribute lookup, e.g. `df.col1`

Filter either rows or columns, but not both.

Attribute and scalar indexing of columns returns a `Series`, NOT a `DataFrame`

### Attribute lookup

Attribute access based on column names. Only works for
valid attribute names (no spaces, keywords)

In [3]:
df.ticker

0    AAPL
1    AAPL
2    MSFT
3     IBM
4    YHOO
Name: ticker, dtype: object

In [4]:
type(df.ticker)

pandas.core.series.Series

### `dict` lookup

Dictionary-style (`__getitem__`) lookup is more flexible, supports
names that aren't valid attributes

In [5]:
df['ticker']

0    AAPL
1    AAPL
2    MSFT
3     IBM
4    YHOO
Name: ticker, dtype: object

In [6]:
df['ticker name'] = df['ticker']
df['ticker name']

0    AAPL
1    AAPL
2    MSFT
3     IBM
4    YHOO
Name: ticker name, dtype: object

In [8]:
del df['ticker name']

### Multiple columns

If you want to retrieve a single or multi-column DataFrame or multiple you
must pass a `list`.

In [10]:
df[['ticker', 'date']]

  ticker        date
0   AAPL  2015-12-30
1   AAPL  2015-12-31
2   MSFT  2015-12-30
3    IBM  2015-12-30
4   YHOO  2015-12-30

## Single Axis Selection - Rows

Works similarly to `Series` logical indexing.

In [11]:
idx = [True, True, False, True, True]
df[idx]

  ticker        date    open
0   AAPL  2015-12-30  426.23
1   AAPL  2015-12-31  427.81
3    IBM  2015-12-30  101.65
4   YHOO  2015-12-30   35.53

## Single Axis Selection - Summary

When the index is:

* list[bool] operates on rows
* str or list[str] operates on columns
* `slice` then operates on the columns
* `DataFrame` operates cell-by-cell (see docs)