Function argument ```x```, ```y``` can be different.


```
def fnction(x, y):
    ...

def reduce(function, iterable, initializer=None):
    it = iter(iterable)
    if initializer is None:
        value = next(it)
    else:
        value = initializer
    for element in it:
        value = function(value, element)
    return value
```

In [1]:
from functools import reduce
import pandas as pd

In [6]:
df = pd.DataFrame(
    columns=["firstname", "middlename", "lastname"],
    data=[
        ("John", "F", "Kennedy"),
        ("Robert", "H", "Mac")
    ]
)
df

  firstname middlename lastname
0      John          F  Kennedy
1    Robert          H      Mac

In [18]:
def f(df: pd.DataFrame, column:str) -> pd.DataFrame:
    df[column] = df[column].map(str.upper if column == "firstname" else str.lower) 
    return df

# How it works
```
for column in ["firstname", "middlename", "lastname"]:
    df = f(df, column)
```

In [15]:
reduce(f, df.columns, df)

  firstname middlename lastname
0      JOHN          f  kennedy
1    ROBERT          h      mac