In [1]:
import datetime as dt

import numpy as np
import pandas as pd

pd.set_option('precision', 2)

In [2]:
def make_long_aapl():
    day_1 = dt.date(2015, 12, 29)
    day_2 = dt.date(2015, 12, 30)
    
    col_close = 'close'
    col_open = 'open'
    
    cols = ['date', 'ticker', 'variable', 'value']
    
    rv = pd.DataFrame([
      {'ticker': 'AAPL', 'date': day_1, 'variable': col_open,  'value': 106.96},
      {'ticker': 'AAPL', 'date': day_1, 'variable': col_close, 'value': 108.74},
      {'ticker': 'AAPL', 'date': day_2, 'variable': col_open,  'value': 108.58},
      {'ticker': 'AAPL', 'date': day_2, 'variable': col_close, 'value': 107.32}
    ], columns=cols)
    
    return rv

In [3]:
aapl_long = make_long_aapl()
aapl_wide = aapl_long.pivot(index='date', columns='variable', values='value')

In [4]:
aapl_long

         date ticker variable   value
0  2015-12-29   AAPL     open  106.96
1  2015-12-29   AAPL    close  108.74
2  2015-12-30   AAPL     open  108.58
3  2015-12-30   AAPL    close  107.32

* Multiple attributes for a single entity (AAPL)
* Row for every period (12/29 & 12/30) x (number of attributes)

## Wide Format

In [5]:
aapl_wide

variable     close    open
date
2015-12-29  108.74  106.96
2015-12-30  107.32  108.58