# Convert column type to categorical

In [1]:
import datetime
import pandas as pd

# Read Amazon product review CSV

In [20]:
df = pd.read_csv(
    "../data/amazon_product_review_sample.csv",
    usecols=["marketplace", "review_id", "product_title", "star_rating", "review_date"],
    parse_dates=['review_date']
)
df

,marketplace,review_id,product_title,star_rating,review_date
0,US,RSH1OZ87OYK92,Madden NFL 16 - Xbox One Digital Code,2,2015-08-31
1,US,R1WFOQ3N9BO65I,Xbox Live Gift Card,5,2015-08-31
2,US,R3YOOS71KM5M9,Command & Conquer The Ultimate Collection [Ins...,5,2015-08-31
3,US,R3R14UATT3OUFU,Playstation Plus Subscription,5,2015-08-31
4,US,RV2W9SGDNQA2C,Saints Row IV - Enter The Dominatrix [Online G...,5,2015-08-31
5,US,R3CFKLIZ0I2KOB,Double Dragon: Neon [Online Game Code],5,2015-08-31
6,US,R1LRYU1V0T3O38,Sims 4,4,2015-08-31
7,US,R44QKV6FE5CJ2,Playstation Network Card,5,2015-08-31
8,US,R2TX1KLPXXXNYS,Playstation Network Card,5,2015-08-31
9,US,R1JEEW4C6R89BA,Playstation Network Card,5,2015-08-31

In [15]:
df.dtypes

marketplace              object
review_id                object
product_title            object
star_rating               int64
review_date      datetime64[ns]
dtype: object

# Convert multiple columns to categorical

In [17]:
columns = ['marketplace', 'star_rating']
df[columns] = df[columns].astype("category")

In [18]:
df.dtypes

marketplace            category
review_id                object
product_title            object
star_rating            category
review_date      datetime64[ns]
dtype: object

In [9]:
df.head()

,marketplace,review_id,product_title,star_rating,review_date
0,US,RSH1OZ87OYK92,Madden NFL 16 - Xbox One Digital Code,2,2015-08-31
1,US,R1WFOQ3N9BO65I,Xbox Live Gift Card,5,2015-08-31
2,US,R3YOOS71KM5M9,Command & Conquer The Ultimate Collection [Ins...,5,2015-08-31
3,US,R3R14UATT3OUFU,Playstation Plus Subscription,5,2015-08-31
4,US,RV2W9SGDNQA2C,Saints Row IV - Enter The Dominatrix [Online G...,5,2015-08-31