In [1]:
%run ingestion.ipynb

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810 entries, 0 to 809
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   facility      810 non-null    object
 1   date          481 non-null    object
 2   timeStart     810 non-null    object
 3   timeEnd       481 non-null    object
 4   supplierCode  481 non-null    object
 5   suppliedM3    810 non-null    float64
 6   recoveredM3   810 non-null    float64
 7   processTime   329 non-null    object
 8   supplier      329 non-null    object
dtypes: float64(2), object(7)
memory usage: 57.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810 entries, 0 to 809
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   facility_code     810 non-null    int64
 1   supplier_code     810 non-null    int64
 2   start_date_time   810 non-null    datetime64[ns]
 3   start_hour        810 non-null    int64
 4   start_time_sin_x  810 non-null    float32
 5   start_time_cos_y  810 non-null    float32
 6   dayofweek         810 non-null    int64
 7   dayofweek_sin_x   810 non-null    float64
 8   dayofweek_cos_y   810 non-null    float64
 9   is_holiday        810 non-null    uint8
 10  process_time      810 non-null    float32
 11  input             810 non-null    float32
 12  output            810 non-null    float32
 13  throughput        810 non-null    float32
 14  recovery_rate     810 non-null    float32
dtypes: datetime64[ns](1), float32(7), float64(2), int64(4), uint8(1)
memory usage: 67.4 KB

In [2]:
df

,facility_code,supplier_code,start_date_time,start_hour,start_time_sin_x,start_time_cos_y,dayofweek,dayofweek_sin_x,dayofweek_cos_y,is_holiday,process_time,input,output,throughput,recovery_rate
0,0,4,2022-08-01 08:29:00,8,0.796002,-0.605294,0,0.000000,1.000000,0,2280.0,2.00,1.55,0.040789,0.775000
1,0,5,2022-08-01 09:27:00,9,0.619094,-0.785317,0,0.000000,1.000000,0,7260.0,6.80,4.15,0.034298,0.610294
2,0,4,2022-08-01 11:38:00,11,0.095846,-0.995396,0,0.000000,1.000000,0,2580.0,1.95,1.55,0.036047,0.794872
3,0,6,2022-08-01 12:40:00,12,-0.173648,-0.984808,0,0.000000,1.000000,0,5040.0,3.95,2.55,0.030357,0.645570
4,0,5,2022-08-01 14:25:00,14,-0.591309,-0.806445,0,0.000000,1.000000,0,7440.0,5.30,3.10,0.025000,0.584906
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
805,0,6,2022-09-30 11:40:00,11,0.087156,-0.996195,4,-0.433884,-0.900969,0,3660.0,3.70,2.35,0.038525,0.635135
806,0,5,2022-09-30 12:52:00,12,-0.224951,-0.974370,4,-0.433884,-0.900969,0,6240.0,6.35,4.55,0.043750,0.716535
807,1,0,2022-09-30 13:48:00,13,-0.453991,-0.891007,4,-0.433884,-0.900969,0,220.0,4.53,2.73,0.744545,0.602649
808,0,4,2022-09-30 15:02:00,15,-0.713251,-0.700909,4,-0.433884,-0.900969,0,2400.0,2.00,1.45,0.036250,0.725000
809,0,5,2022-09-30 16:02:00,16,-0.870356,-0.492424,4,-0.433884,-0.900969,0,8700.0,6.30,3.90,0.026897,0.619048

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810 entries, 0 to 809
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   facility_code     810 non-null    int64
 1   supplier_code     810 non-null    int64
 2   start_date_time   810 non-null    datetime64[ns]
 3   start_hour        810 non-null    int64
 4   start_time_sin_x  810 non-null    float32
 5   start_time_cos_y  810 non-null    float32
 6   dayofweek         810 non-null    int64
 7   dayofweek_sin_x   810 non-null    float64
 8   dayofweek_cos_y   810 non-null    float64
 9   is_holiday        810 non-null    uint8
 10  process_time      810 non-null    float32
 11  input             810 non-null    float32
 12  output            810 non-null    float32
 13  throughput        810 non-null    float32
 14  recovery_rate     810 non-null    float32
dtypes: datetime64[ns](1), float32(7), float64(2), int64(4), uint8(1)
memory usage: 67.4 KB

# Setup

In [4]:
import xgboost
print(xgboost.__version__)

1.7.1