# Convert a column to datetime in ISO 8601 format

In [1]:
import datetime
import pandas as pd

# Read Amazon product review CSV

In [2]:
df = pd.read_csv(
    "../data/amazon_product_review_sample.csv",
    usecols=["review_id", "product_title", "star_rating", "review_date"]
)
df.head()

,review_id,product_title,star_rating,review_date
0,RSH1OZ87OYK92,Madden NFL 16 - Xbox One Digital Code,2,2015-08-31
1,R1WFOQ3N9BO65I,Xbox Live Gift Card,5,2015-08-31
2,R3YOOS71KM5M9,Command & Conquer The Ultimate Collection [Ins...,5,2015-08-31
3,R3R14UATT3OUFU,Playstation Plus Subscription,5,2015-08-31
4,RV2W9SGDNQA2C,Saints Row IV - Enter The Dominatrix [Online G...,5,2015-08-31

In [3]:
df.dtypes

review_id        object
product_title    object
star_rating       int64
review_date      object
dtype: object

# Convert review_date to ISO 8601 string

string -> datetime -> string

In [4]:
df['review_date'] = pd.to_datetime(df['review_date']).dt.strftime('%Y-%m-%dT%H:%M:%SZ')
df.head()

,review_id,product_title,star_rating,review_date
0,RSH1OZ87OYK92,Madden NFL 16 - Xbox One Digital Code,2,2015-08-31T00:00:00Z
1,R1WFOQ3N9BO65I,Xbox Live Gift Card,5,2015-08-31T00:00:00Z
2,R3YOOS71KM5M9,Command & Conquer The Ultimate Collection [Ins...,5,2015-08-31T00:00:00Z
3,R3R14UATT3OUFU,Playstation Plus Subscription,5,2015-08-31T00:00:00Z
4,RV2W9SGDNQA2C,Saints Row IV - Enter The Dominatrix [Online G...,5,2015-08-31T00:00:00Z

In [5]:
df.dtypes

review_id        object
product_title    object
star_rating       int64
review_date      object
dtype: object

# Convert review_date to datetime

In [6]:
df['review_date'] = pd.to_datetime(df['review_date'])
df.head()

,review_id,product_title,star_rating,review_date
0,RSH1OZ87OYK92,Madden NFL 16 - Xbox One Digital Code,2,2015-08-31 00:00:00+00:00
1,R1WFOQ3N9BO65I,Xbox Live Gift Card,5,2015-08-31 00:00:00+00:00
2,R3YOOS71KM5M9,Command & Conquer The Ultimate Collection [Ins...,5,2015-08-31 00:00:00+00:00
3,R3R14UATT3OUFU,Playstation Plus Subscription,5,2015-08-31 00:00:00+00:00
4,RV2W9SGDNQA2C,Saints Row IV - Enter The Dominatrix [Online G...,5,2015-08-31 00:00:00+00:00

In [7]:
df.dtypes

review_id                     object
product_title                 object
star_rating                    int64
review_date      datetime64[ns, UTC]
dtype: object