In [51]:
from pprint import pprint
import numpy as np
import pandas as pd

In [18]:
a = [list(range(0, 10))]
b = [
    list(range(0, 10)),
    list(range(10, 20)),
    list(range(20, 30))
]
c = [list(range(0, 10))]

In [56]:
pprint([a, b, c], indent=4, depth=4)

[   [[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]],
    [   [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
        [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24, 25, 26, 27, 28, 29]],
    [[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]]

In [59]:
from itertools import chain
list(chain(*[a, b, c]))

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
 [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [63]:
pd.DataFrame(chain(*[a, b, c]))

    0   1   2   3   4   5   6   7   8   9
0   0   1   2   3   4   5   6   7   8   9
1   0   1   2   3   4   5   6   7   8   9
2  10  11  12  13  14  15  16  17  18  19
3  20  21  22  23  24  25  26  27  28  29
4   0   1   2   3   4   5   6   7   8   9

In [20]:
# https://stackoverflow.com/a/952946
sum([a, b, c,], start=[])

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
 [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [21]:
pd.DataFrame(sum([a,b,c], []))

    0   1   2   3   4   5   6   7   8   9
0   0   1   2   3   4   5   6   7   8   9
1   0   1   2   3   4   5   6   7   8   9
2  10  11  12  13  14  15  16  17  18  19
3  20  21  22  23  24  25  26  27  28  29
4   0   1   2   3   4   5   6   7   8   9