# Update dataframe

## Updating copy or original

Stick to ```.loc, .iloc``` to identify the dataframe to update to avoid updating the copy.

* [Returning a view versus a copy](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy)

In [3]:
import numpy as np
import pandas as pd

In [4]:
# From a dict of lists
df = pd.DataFrame(
    data={
       'ticker': ['AAPL', 'AAPL', 'MSFT', 'IBM', 'YHOO'],
        'date': ['2015-12-30', '2015-12-31', '2015-12-30', '2015-12-30', '2015-12-30'],
        'open': [426.23, 427.81, 42.3, 101.65, 35.53]
    },
)
df

  ticker        date    open
0   AAPL  2015-12-30  426.23
1   AAPL  2015-12-31  427.81
2   MSFT  2015-12-30   42.30
3    IBM  2015-12-30  101.65
4   YHOO  2015-12-30   35.53

# Update copy by dictionary indexing

Dictionary indexing creates a copy, hence updating it does not reflect to the original df.

In [6]:
df[df['ticker']  == 'AAPL']['open'] = 0
# No update to the df
df

/tmp/ipykernel_6337/30443439.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df['ticker']  == 'AAPL']['open'] = 0

  ticker        date    open
0   AAPL  2015-12-30  426.23
1   AAPL  2015-12-31  427.81
2   MSFT  2015-12-30   42.30
3    IBM  2015-12-30  101.65
4   YHOO  2015-12-30   35.53