# Pandas columns How To

In [2]:
import numpy as np
import pandas as pd

# Rename Columns

In [10]:
df = pd.DataFrame(
    data=np.arange(15).reshape((3,5)),
    columns=["A", "B", "C", "D", "E"]
)
df

    A   B   C   D   E
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14

In [12]:
rename_mappings = {
    "A": "AAA",
    "C": "CCC"
}
df.rename(columns=rename_mappings)

   AAA   B  CCC   D   E
0    0   1    2   3   4
1    5   6    7   8   9
2   10  11   12  13  14

# Select those columns in a list

In [13]:
columns_to_retain = ["B", "D"]
df.loc[
    :,
    df.columns.intersection(columns_to_retain)
]

    B   D
0   1   3
1   6   8
2  11  13