# Find missing/NaN in Series

* [Series.isna()](https://pandas.pydata.org/docs/reference/api/pandas.Series.isna.html) -  Alias ```isnull()```
* [Series.notna()](https://pandas.pydata.org/docs/reference/api/pandas.Series.notna.html)
* [Series.fillna(value=None, method=None, axis=None, inplace=False, limit=None, downcast=None)](https://pandas.pydata.org/docs/reference/api/pandas.Series.fillna.html)

Return boolean array where True indicates the value is NA. NA is either:

1. Python None,
2. np.nan

In [1]:
import numpy as np
import pandas as pd

# Boolean Series of NA values

In [13]:
s = pd.Series([1, np.nan, 2], dtype='Int32') # Without specifying the dtype, it can be converted to float

In [8]:
print(type(s.isna()))
s.isna()

<class 'pandas.core.series.Series'>

0    False
1     True
2    False
dtype: bool

In [9]:
s.loc[s.isna()]

1    <NA>
dtype: Int32

# Boolean Series of Non NA values

In [10]:
s.loc[s.notna()]

0    1
2    2
dtype: Int32

# Imputate NA values

In [12]:
s.fillna(value=0, inplace=True)
s

0    1
1    0
2    2
dtype: Int32

# Broadcast operation and NA padding

Shorter series is broardcasted and padded with NA value.

In [14]:
s1 = pd.Series([1, np.nan, 2, np.nan], dtype='Int32') # Without specifying the dtype, it can be converted to float
s2 = pd.Series([0, 1,      2, np.nan, 3], dtype='Int32')

In [15]:
s1

0       1
1    <NA>
2       2
3    <NA>
dtype: Int32

In [16]:
s2

0       0
1       1
2       2
3    <NA>
4       3
dtype: Int32

In [17]:
# The shorter Series is broadcasted to match longer one being padded with NA. NA + NonNA -> NA
s1 + s2

0       1
1    <NA>
2       4
3    <NA>
4    <NA>
dtype: Int32