In [1]:
import numpy as np
import pandas as pd

In [19]:
df = pd.DataFrame(np.array([
    [1, np.nan, 3], 
    [4, 5, np.nan],
    [6, np.nan, 8],
]))
df

     0    1    2
0  1.0  NaN  3.0
1  4.0  5.0  NaN
2  6.0  NaN  8.0

# Use column name

In [24]:
column_0, column_1, *_ = [df[column_name] for column_name in df]

In [25]:
column_0

0    1.0
1    4.0
2    6.0
Name: 0, dtype: float64

In [26]:
column_1

0    NaN
1    5.0
2    NaN
Name: 1, dtype: float64

In [27]:
type(column_0)

pandas.core.series.Series

# Use items() method

* [items()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.items.html)

> **Iterates over columns**, returning a tuple with **the column name and the content** as a Series.

In [35]:
column_0, column_1, *_ = [series for column_name, series in df.items()]

In [36]:
column_0

0    1.0
1    4.0
2    6.0
Name: 0, dtype: float64

In [37]:
column_1

0    NaN
1    5.0
2    NaN
Name: 1, dtype: float64

In [38]:
type(column_0)

pandas.core.series.Series

In [ ]:
# Extract (column_name, content)

In [45]:
df = pd.DataFrame({'species': ['bear', 'bear', 'marsupial'],
                  'population': [1864, 22000, 80000]},
                  index=['panda', 'polar', 'koala'])
tuple_0, tuple_1, *_ = [column_content_tuple for column_content_tuple in df.items()]

In [47]:
len(tuple_0)

2

In [48]:
tuple_0[0]  # column name

'species'

In [49]:
tuple_0[1]  # content (series)

panda         bear
polar         bear
koala    marsupial
Name: species, dtype: object

In [50]:
type(tuple_0[1] )

pandas.core.series.Series