In [2]:
import numpy as np
import pandas as pd

# DataFrame from a dictionary

* [Convert Python dict into a dataframe](https://stackoverflow.com/a/57343119/4281353)

<img src="image/create_pandas_dataframe.png" align="left"/>

In [6]:
values = [
    {'key 1': 'value 1', 'key 2': 'value 2', 'key 3': 'value 3'},
    {'key 1': 'value 1', 'key 2': 'value 2', 'key 3': 'value 3'},
    {'key 1': 'value 1', 'key 2': 'value 2', 'key 3': 'value 3'}
]
pd.DataFrame(values)

     key 1    key 2    key 3
0  value 1  value 2  value 3
1  value 1  value 2  value 3
2  value 1  value 2  value 3

In [6]:
x = np.arange(12).reshape((4, 3))
df = pd.DataFrame.from_records(x, columns=("col1", "col2", "col3"))
df

   col1  col2  col3
0     0     1     2
1     3     4     5
2     6     7     8
3     9    10    11

pandas.core.series.Series