In [3]:
import pandas as pd
import numpy as np

In [5]:
data = np.array([(1, 2, 3), (4, 5, 6), (7, 8, 9)],
                dtype=[("a", "i4"), ("b", "i4"), ("c", "i4")])
df = pd.DataFrame(data, columns=['c', 'a'])
df

   c  a
0  3  1
1  6  4
2  9  7

In [7]:
df.columns

Index(['c', 'a'], dtype='object')

In [9]:
list(df)

['c', 'a']

In [11]:
list(df.columns)

['c', 'a']

In [15]:
(set(df.columns) - set(list(df.columns))) == set()

True

In [17]:
x = set(['a', 'b', 'c'])
set(df.columns).issubset(x)

True