# Dataframe - Select 

Stick to ```.loc, .iloc``` to be safe.

In [1]:
import numpy as np
import pandas as pd

In [6]:
# From a dict of lists
df = pd.DataFrame(
    data={
        'date': ['2015-12-30', '2015-12-31', '2015-12-30', '2015-12-30', '2015-12-30'],
        'open': [426.23, 427.81, 42.3, 101.65, 35.53]
    },
    index=['AAPL', 'AAPL', 'MSFT', 'IBM', 'YHOO']
)
df

            date    open
AAPL  2015-12-30  426.23
AAPL  2015-12-31  427.81
MSFT  2015-12-30   42.30
IBM   2015-12-30  101.65
YHOO  2015-12-30   35.53

# Select by Index Values

Stick to Numpy indexing style and Indexing as List **always**. **DO NOT use dictionary style**.

In [7]:
df.loc[['MSFT', 'YHOO'], :]

            date   open
MSFT  2015-12-30  42.30
YHOO  2015-12-30  35.53

In [8]:
df.loc[['MSFT', 'YHOO'], ['open']]

       open
MSFT  42.30
YHOO  35.53

In [12]:
df.loc[:, ['date', 'open']]

            date    open
AAPL  2015-12-30  426.23
AAPL  2015-12-31  427.81
MSFT  2015-12-30   42.30
IBM   2015-12-30  101.65
YHOO  2015-12-30   35.53