# Plot by group

In [51]:
import pandas as pd
import seaborn as sns

# Constant

In [5]:
DATA_DIR: str = "../data/titanic"

# Dataframe

In [111]:
df = pd.read_csv(
    f"{DATA_DIR}/train.csv"
)
df.drop(labels=["PassengerId", "Name", "Ticket", "Cabin"], axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [112]:
df.head(3)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S

# String to number

In [127]:
sorted(df["Pclass"][df["Pclass"].notna()].unique())

[1, 2, 3]

In [126]:
sorted(df["Embarked"][df["Embarked"].notna()].unique())

['C', 'Q', 'S']

In [128]:
sorted(df["SibSp"][df["SibSp"].notna()].unique())

[0, 1, 2, 3, 4, 5, 8]

In [129]:
df.replace({
    'Sex': {"male": 0, "female": 1},
    "Embarked": {'C': 0, 'Q': 1, 'S': 2}
}, inplace=True)

# Correlation

In [130]:
df.corr().style.background_gradient(cmap='coolwarm')