# Iterate Rows

In [2]:
import pandas as pd

In [3]:
values = [
    {'key 1': 'value 1', 'key 2': 'value 2', 'key 3': 'value 3'},
    {'key 1': 'value 1', 'key 2': 'value 2', 'key 3': 'value 3'},
    {'key 1': 'value 1', 'key 2': 'value 2', 'key 3': 'value 3'}
]
df = pd.DataFrame(values)
df

     key 1    key 2    key 3
0  value 1  value 2  value 3
1  value 1  value 2  value 3
2  value 1  value 2  value 3

In [4]:
for index, row in df.iterrows():
    print(row['key 1'], row['key 3'])

value 1 value 3
value 1 value 3
value 1 value 3